absl-py==0.10.0
appdirs==1.4.4
argcomplete==1.10.0
asgiref==3.2.10
astunparse==1.6.3
Babel==2.8.0
backcall==0.2.0
backtrader==1.9.76.123
bcrypt==3.2.0
beautifulsoup4==4.9.1
boto3==1.14.41
botocore==1.17.41
cachetools==4.1.1
cairocffi==1.1.0
CairoSVG==2.4.2
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
colorama==0.4.3
comtypes==1.1.7
contextlib2==0.6.0.post1
coreapi==2.3.3
coreschema==0.0.4
cssselect2==0.3.0
cycler==0.10.0
Cython==0.29.21
dataclasses==0.7
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
distro==1.5.0
dj-database-url==0.5.0
Django==3.1
django-allauth==0.42.0
django-anymail==8.0
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap4==2.2.0
django-ckeditor==6.0.0
django-cors-headers==3.5.0
django-crispy-forms==1.9.2
django-heroku==0.3.1
django-js-asset==1.2.2
django-phonenumber-field==4.0.0
django-selectable==1.3.0
django-storages==1.9.1
django-summernote==0.8.11.6
django-tagging==0.5.0
django-taggit==1.3.0
djangorestframework==3.11.1
djangorestframework-simplejwt==4.4.0
docopt==0.6.2
docutils==0.15.2
docx2txt==0.8
drf-yasg==1.17.1
EbookLib==0.17.1
enum34==1.1.10
extract-msg==0.23.1
fastcluster==1.1.26
ffmpeg==1.4
ffmpeg-python==0.2.0
filelock==3.0.12
fs==2.4.11
future==0.18.2
gast==0.3.3
glob2==0.4.1
google==3.0.0
google-api-core==1.22.1
google-auth==1.20.1
google-auth-oauthlib==0.4.1
google-cloud-texttospeech==2.2.0
google-images-download==2.8.0
google-pasta==0.2.0
googleapis-common-protos==1.52.0
grpcio==1.31.0
gTTS==2.1.1
gTTS-token==1.1.3
gunicorn==20.0.4
h5py==2.10.0
html5lib==1.1
httpie==2.2.0
icrawler==0.6.3
idna==2.10
image-to-scan==0.0.5
imageio==2.9.0
IMAPClient==2.1.0
importlib-metadata==1.7.0
importlib-resources==3.0.0
inflection==0.5.0
ipython==7.16.1
ipython-genutils==0.2.0
itypes==1.2.0
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.16.0
Keras==2.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
libcst==0.3.10
lxml==4.5.2
mapper==0.1.17
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.1
mypy-extensions==0.4.3
mysqlclient==2.0.1
networkx==2.5
numpy==1.19.1
oauthlib==3.1.0
olefile==0.46
opencv-contrib-python==4.4.0.42
opencv-python==4.4.0.42
opencv-python-headless==4.4.0.42
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.0
parso==0.7.1
passlib==1.7.2
pdfminer==20191125
pdfminer.six==20181108
pdftotree==0.4.0
phonenumbers==8.12.7
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==3.0.7
proto-plus==1.7.1
protobuf==3.13.0
psycopg2==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.9.8
Pygments==2.6.1
PyJWT==1.7.1
PyMuPDF==1.17.6
pyparsing==2.4.7
PyPDF2==1.26.0
Pyphen==0.9.5
pypiwin32==223
pytesseract==0.3.5
python-dateutil==2.8.1
python-iglobal==0.1.2
python-pptx==0.6.18
python3-openid==3.2.0
pyttsx3==2.90
pytz==2020.1
PyWavelets==1.1.1
pywin32==228
PyYAML==5.3.1
requests==2.24.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.6
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
s3transfer==0.3.3
schema==0.7.2
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.2
selectivesearch==0.4
selenium==3.141.0
sentry-sdk==0.18.0
simplejson==3.17.2
six==1.15.0
sklearn==0.0
sortedcontainers==2.2.2
soupsieve==2.0.1
SpeechRecognition==3.8.1
sqlparse==0.3.1
tabula-py==2.2.0
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.0
tensorflow-estimator==2.3.0
termcolor==1.1.0
tesseract==0.1.3
textract==1.6.3
texttohtml==1.0
threadpoolctl==2.1.0
tifffile==2020.9.3
tinycss2==1.0.2
traitlets==4.3.3
twilio==6.45.1
typing-extensions==3.7.4.2
typing-inspect==0.6.0
tzlocal==1.5.1
uritemplate==3.0.1
urllib3==1.25.10
validate-email==1.3
virtualenv==20.0.31
Wand==0.4.4
wcwidth==0.2.5
wd==1.0.1
WeasyPrint==51
webencodings==0.5.1
Werkzeug==1.0.1
whitenoise==5.2.0
wikipedia==1.4.0
Wikipedia-API==0.5.4
wrapt==1.12.1
xlrd==1.2.0
XlsxWriter==1.3.3
zipp==3.1.0
